.shop{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 0px 60px 0px 60px;
    margin: 0px 60px 0px 60px;
    height: 1838px;
    padding-bottom: 10px;
}
.cart-container{
    background-color: aqua;
}
@media only screen and (max-width: 600px) {
    .shop{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .product-container{
        display: grid;
        grid-template-columns: 1fr;
    }
}